<h1>Hola</h1>
<div class="card form-container">
  <form [formGroup]="testForm" (ngSubmit)="enviar()">
    <authype-input formControlName="texto" label="Text" />
    <authype-textarea
      formControlName="textoLargo"
      label="LongText"
      [rows]="4"
    />
    <authype-select
      formControlName="correctionLabel"
      [items]="errorsTypes"
      selectLabel="label"
      selectValue="value"
      label="CorrectionLabel"
    />
    <authype-fileinput formControlName="image" [imageURL]="null" />
    <authype-colorpicker (colorSelected)="handleColor($event)" />
    <button>Send</button>
  </form>
</div>
<authype-notification />
@if (loading) {
<authype-loader />
}
